# Variables, expressions, and statements

How to show value in python

In [ ]:
print("Hello, World!")
print("mocha", "latte", "espresso")
print("one", "two", "three", sep=">")
print("area = ", 5 * 10, "sq.m.")
print("coconut", "mango", sep=" ", end="")
print("POMELO")
print("watermelon")

In [9]:
print(4)

4

In [ ]:
type('Hello, World!')

In [ ]:
print(1,000,000)

# Variables

The underscore character ( _ ) can appear in a name. It is often used in names with multiple words, such as my_name or airspeed_of_unladen_swallow

In [ ]:
76trombones = 'big parade'

In [ ]:
more@ = 1000000

In [1]:
class = 'Advanced Theoretical Zymurgy'

SyntaxError: invalid syntax (<ipython-input-1-73fc4ce1a15a>, line 1)

# expression

In [4]:
#fix this fragment of code

hour = 20+32
minute = hour-1
shiftToMinute = hour*60+minute
hour = minute/60
something = 5**2*(5+9)*(15-7)

In [6]:
#Complete the statement that can convert from celsius to fahrenheit .
celsius = 25

fahrenheit = celsius * 9 / 5 + 32

print(f'{celsius:3}C = {fahrenheit:5.1f}F')

 25C =  77.0F

# Modulus operator

In [7]:
quotient = 7 // 3
print(quotient)

2

In [8]:
remainder = 7 % 3
print(remainder)

1

# String operations

In [10]:
first = 10
second = 15
print(first+second)
first = '100'
second = '150'
print(first + second)

25
100150

In [11]:
first = 'Test '
second = 3
print(first * second)

Test Test Test

# Asking the user for input

In [12]:
inp = input()
print(inp)

5
5

In [13]:
name = input('What is your name?\n')
print(name)

What is your name?
15
15

In [14]:
prompt = 'What...is the airspeed velocity of an unladen swallow?\n'
speed = input(prompt)
int(speed)
int(speed) + 5

What...is the airspeed velocity of an unladen swallow?
4

9

In [15]:
a = input().strip()

4

In [16]:
a = 3.5
print(f"a = {a}, type = {type(a)}")
b = int(a)
print(f"b = {b}, type = {type(b)}")

a = 3.5, type = <class 'float'>
b = 3, type = <class 'int'>

In [17]:
s = "3"
print(f"s  = {s}, type = {type(s)}")
a = int(s)
print(f"a  = {a}, type = {type(a)}")

s2 = "-7"
print(f"s2 = {s2}, type = {type(s2)}")
b = int(s2)
print(f"b  = {b}, type = {type(b)}")

## How to be `float()`
a = float("3")
print(f"a = {a}, type = {type(a)}")

b = float("3.14159")
print(f"b = {b}, type = {type(b)}")

c = float("-17.5")
print(f"c = {c}, type = {type(c)}")

s  = 3, type = <class 'str'>
a  = 3, type = <class 'int'>
s2 = -7, type = <class 'str'>
b  = -7, type = <class 'int'>
a = 3.0, type = <class 'float'>
b = 3.14159, type = <class 'float'>
c = -17.5, type = <class 'float'>

In [ ]:
a = str(3)
print(f"a = {a}, type = {type(a)}")
print(f"a * 5 = {a * 5}")

b = str(3.14159)
print(f"b = {b}, type = {type(b)}")
print(f"1 + b = {'7' + b}")

c = str(-17)
print(f"c = {c}, type = {type(c)}")
print(f"1 + c = {'1' + c}")

In [ ]:
a = int(input())

In [ ]:
a = float(input())

In [ ]:
a,b,c = [e for e in input().split()]

In [ ]:
a,b,c = input().split()

In [ ]:
x,y = [int(e) for e in input().split()]

In [ ]:
a,b,c = [float(e) for e in input().split()]

# Comments

In [ ]:
# compute the percentage of the hour that has elapsed
percentage = (minute * 100) / 60

In [ ]:
percentage = (minute * 100) / 60 # percentage of an hour

This comment is redundant with the code and useless:

In [ ]:
v = 5 # assign 5 to v

In [ ]:
v = 5 # velocity in meters/second.

indentation

In [18]:
def rectangle_area(w, h):
    area = w * h              # 1️⃣
    return area               # 1️⃣

def citizen(age):
    if age > 60:              # 2️⃣
        print("senior")       # 2️⃣
        print("50% discount") # 2️⃣
    else:                     # 2️⃣
        print("young")        # 2️⃣

your_age = 28                 # 3️⃣
citizen(your_age)             # 3️⃣

young

Example of global vairable in python (1)

In [ ]:
VAT = .07 #<----This is the global

def price_part(amount):
    tax = amount * VAT / (1 + VAT)
    price = amount - tax
    return price, tax

print(f"VAT = {VAT}")
print(price_part(150))

Example of global vairable in python (2)

In [ ]:
VAT = .07  #<----This is the global
member_discount = .15
coffee_price = 50

def access_global_var():
    global VAT # add global keyword to use and revise VAT value in function
    print(f"inside access_global_var():  VAT = {VAT}")
    print(f"inside access_global_var():  member_discount = {member_discount}")

print(f"outside access_global_var(): VAT = {VAT}")
print(f"outside access_global_var(): member_discount = {member_discount}")
access_global_var()
print(f"coffee_price (before discount) = {coffee_price}")
print(f"coffee_price (after membership discount) = {coffee_price * (1 - member_discount)}")

Example of Local vairable in python (1)

In [ ]:
def drink():
    price = 20
    print(f"price in drink() = {price}")

def burger():
    price = 69
    print(f"price in burger() = {price}")

drink()
burger()

# Exercise

1. Assign some values to variables x, y, and z. Then, insert x, y, and z inside a print() function to print out the values of those variables.

In [19]:
x = 10
y = "Hello"
z = 3.14

print("x =", x)
print("y =", y)
print("z =", z)

x = 10
y = Hello
z = 3.14

2. Create three variables **mood**, **strength**, and **rank** and assign a string to **mood**, a float to **strength**, and an integer to **rank**. **The values you assign can be anything as long as they are of the correct type.**

In [20]:
mood = "Happy"
strength = 8.5
rank = 3

3. แก้ไขโปรแกรมต่อไปนี้

In [23]:
x = input()
y = float(x)**2 + 7
print(y)

3
16.0

4. Assign a number to each of the variables x, y, and z. Calculate the sum of x, y, and z in the s variable. Print out the value of s.

In [24]:
x = 5
y = 10
z = 15

s = x + y + z

print(s)

30

5. จงเขียนโปรแกรมบวกเลขสองจำนวน โดยการรับค่าตัวเลขใดๆ สองจำนวน

In [27]:
num1 = input("Enter num1\n")
num2 = input("Enter num2\n")

print(f"result = {float(num1) + float(num2)}")

Enter num1
2
Enter num2
2
result = 4.0

6. โปรแกรมแก้ปัญหาการแบ่งจำนวนนักเรียนสามห้อง แต่ละห้องมีจำนวนดังนี้ 32, 45 และ 51 คน ให้มีจำนวนกลุ่มของนักเรียนที่เท่ากัน และกรณีที่เหลือนักเรียนที่ไม่สามารถจับกลุ่มได้ของแต่ละกลุ่ม โดยใช้ฟังค์ชัน เครื่องหมาย % และ //


1.   โปรแกรมสามารถ**รับค่า**จำนวนนักเรียนของ สามห้องได้
2.   โปรแกรมสามารถ**รับค่า**จำนวนกลุ่มที่ต้องการ
3.   โปรแกรม**แสดงค่า**จำนวนนักเรียนแต่ละกลุ่มของแต่ละห้อง
4.   โปรแกรม**แสดงค่า**นักเรียนที่ไม่มีกลุ่มของแต่ละห้องได้

In [28]:
def divide_students(room1, room2, room3, num_groups):
    students = [room1, room2, room3]
    groups_per_room = []
    remainder_per_room = []
    for num_students in students:
        groups = num_students // num_groups
        remainder = num_students % num_groups
        groups_per_room.append(groups)
        remainder_per_room.append(remainder)

    return groups_per_room, remainder_per_room

room1_students = int(input("จำนวนนักเรียนในห้องที่ 1: "))
room2_students = int(input("จำนวนนักเรียนในห้องที่ 2: "))
room3_students = int(input("จำนวนนักเรียนในห้องที่ 3: "))

num_groups = int(input("จำนวนกลุ่มที่ต้องการ: "))

groups, remainder = divide_students(room1_students, room2_students, room3_students, num_groups)

print(f"นักเรียนในห้องที่ 1 ได้แบ่งเป็นกลุ่ม {groups[0]} กลุ่ม และมี {remainder[0]} คนที่ไม่สามารถจับกลุ่มได้")
print(f"นักเรียนในห้องที่ 2 ได้แบ่งเป็นกลุ่ม {groups[1]} กลุ่ม และมี {remainder[1]} คนที่ไม่สามารถจับกลุ่มได้")
print(f"นักเรียนในห้องที่ 3 ได้แบ่งเป็นกลุ่ม {groups[2]} กลุ่ม และมี {remainder[2]} คนที่ไม่สามารถจับกลุ่มได้")

จำนวนนักเรียนในห้องที่ 1: 2
จำนวนนักเรียนในห้องที่ 2: 3
จำนวนนักเรียนในห้องที่ 3: 3
จำนวนกลุ่มที่ต้องการ: 2
นักเรียนในห้องที่ 1 ได้แบ่งเป็นกลุ่ม 1 กลุ่ม และมี 0 คนที่ไม่สามารถจับกลุ่มได้
นักเรียนในห้องที่ 2 ได้แบ่งเป็นกลุ่ม 1 กลุ่ม และมี 1 คนที่ไม่สามารถจับกลุ่มได้
นักเรียนในห้องที่ 3 ได้แบ่งเป็นกลุ่ม 1 กลุ่ม และมี 1 คนที่ไม่สามารถจับกลุ่มได้

7.ISBN (International Standard Book Number) เป็นตัวเลขจำวน 10-13 หลักที่ใช้ระบุหนังสือแต่ละเล่ม โจทย์ข้อนี้
สนใจเฉพาะ ISBN ที่มี 10 หลัก การตรวจสอบความถูกต้องของ ISBN จะใช้ตัวเลขหลักสุดท้ายเป็น check digit ในการตรวจสอบ
ความถูกต้องของตัวเลขอื่น ๆ โดยวิธีที่ใช้ตรวจสอบคือ
![Screenshot 2566-07-11 at 05.22.25.png]()
ตัวอย่างเช่น หากตัวเลข 9 หลักแรกคือ 020131452 จะได้ว่า
10*0 + 9*2 + 8*0 + 7*1 + 6*3 + 5*1 + 4*4 + 3*5 + 2*2 + n10 = 83 + n10 ต้องหารด้วย 11 ลงตัว
จะได้ว่า n10 ต้องมีค่าเท่ากับ 5 เพื่อให้ผลรวมเป็น 88 ซึ่งหารด้วย 11 ลงตัว และได้ ISBN คือ 0201314525
หากกำหนดตัวเลขหลักที่ 1-9 มาให้ จงคำนวณหา ISBN ทั้งสิบหลัก

In [33]:
isbn_9_digits = input("ใส่หมายเลข ISBN 9 หลัก: ")

if len(isbn_9_digits) != 9 or not isbn_9_digits.isdigit():
    print("ใส่หมายเลข ISBN ที่มี 9 หลักเท่านั้น")
else:
    total_sum = 0
    for i in range(9):
        total_sum += int(isbn_9_digits[i]) * (10 - i)

    check_digit = (11 - (total_sum % 11)) % 11

    if check_digit == 10:
        check_digit = 'X'

    print("หมายเลข ISBN ที่สมบูรณ์คือ:", isbn_9_digits + str(check_digit))

ใส่หมายเลข ISBN 9 หลัก: 232341356
หมายเลข ISBN ที่สมบูรณ์คือ: 2323413562